<h2>Quem somos nós??</h2>
<p>Na verdade.. seria quem sou eu..</p>
<p>Um jovem, com apenas 21 anos, nascido e criado no Rio de Janeiro, 
    e foi parar em Rio Grande do Norte,amo tanto o Rio, que sai de um
    e fui parar em outro (eu sei que não teve graça, mas dê um sorrisinho pelo menos kkk).
</p>
<p>
    Enfim, me chamo Lukas, ainda nem tinha me apresentado, sou estudante de Tecnologia em Sistemas para Internet
    no IFRN. Já fiz técnico também, num colégio no RJ, Colegio Souza Lima. Aqui esta meu 
    <a href="https://lukaspol.github.io" id="mysite">"site"</a>, falta atualizar...
</p>
<p>
    E estou querendo muito passar para essa vaga, nunca achei que aprenderia
    uma linguagem, e alguns Frameworks em 2 semanas, kkk foi mto boom, faria dnv.. CLARO se a linguagem
    for melhor RUBY E PYTHON, e JAVA NUNCA!!
</p>
<p>
    Então Wilbert e Lierbert, se quiserem me contratar, serei grato demais kkk
    Meu sistema não podeser o melhor, mas sei que se passar darei o meu melhor !!
</p>
<h2>Porque este site?</h2>
<p>
    Foi um desafio para estágio da empresa Insight, torcendo pra ue der certo :)
</p>