

<p>
    Seja Bem-Vindo ao novo sistema de tarefas!<br>
    Basta entrar para começar!
</p>

<%= link_to 'Entrar', new_user_session_path, class:"link_initial" %> <br><br>
<%= link_to "Regristrar", new_user_registration_path, class:"link_initial" %>